/* Project Requirements */
@import "tailwindcss";
/* Tailwind Variables */
@theme {
  --font-inter: inter;
  --color-primary: #db2b2f;
  --color-primary-light: #f75a5d;
}
/* Inter Font */
@font-face {
  font-family: "inter";
  src: url(/fonts/Inter.ttf) format("truetype");
}
/* Mask Image Class */
.mask-image {
  mask-image: linear-gradient(black 85%, transparent);
}
/* Change Autocomplete styles in Chrome */
input:-webkit-autofill {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
/* Change Calendar Color in Input Date */
input[type="date"] {
  color: #99a1af;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
